* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #4696e5;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.header {
  background-color: #4696e5;
  padding: 30px 60px;
  color: white;
  text-align: center;
  height: 300px;
  width: 100%;
}
.mainText{
text-align: center;
color: grey;
}
